# 3. Logistic Regression Problem

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 1. Inspect and plot some portion of the training data using pandas. Segregate the training and testing data into two separate variables consisting of ‘feature values’ and corresponding ‘predictions’ (the prediction column is titled ‘RainTomorrow’ in the dataset). To simplify the problem a bit, clean the whole data by carrying out the following sub-tasks:

In [2]:
weather = pd.read_csv("weather_train.csv")
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,01-12-2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,02-12-2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,03-12-2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,04-12-2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,05-12-2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

#### (a) Convert the predictions in the binary format by using ‘1’ for ‘YES’ and ‘0’ for ‘NO’.

In [3]:
weather = weather.replace({"RainTomorrow":{"Yes":1, "No":0}})
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,01-12-2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0
1,02-12-2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0
2,03-12-2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0
3,04-12-2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,0
4,05-12-2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0

#### (b) Identify and drop the feature columns having datatype ‘object’.

In [5]:
obj_dtype_columns = weather.select_dtypes(include=['object']).columns
obj_dtype_columns

Index(['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm',
       'RainToday'],
      dtype='object')

In [6]:
weather = weather.drop(columns=obj_dtype_columns, axis=1)
weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,0
1,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,0
2,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,0
3,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,0
4,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0

#### (c) Identify cells having ‘NaN’ or ‘NA’ values and replace them with mean values of their respective columns.

In [7]:
weather.isna().sum()

MinTemp            524
MaxTemp            390
Rainfall          1296
Evaporation      28015
Sunshine         33621
WindGustSpeed     5522
WindSpeed9am      1132
WindSpeed3pm      1756
Humidity9am        790
Humidity3pm       1395
Pressure9am       6995
Pressure3pm       6945
Cloud9am         22448
Cloud3pm         22886
Temp9am            509
Temp3pm           1156
RainTomorrow         0
dtype: int64

In [9]:
# filling NaN or NA with their respective mean
weather = weather.fillna(weather.mean())
weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,13.4,22.9,0.6,5.52876,7.568706,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.00000,4.487216,16.9,21.8,0
1,7.4,25.1,0.0,5.52876,7.568706,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,4.43216,4.487216,17.2,24.3,0
2,12.9,25.7,0.0,5.52876,7.568706,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,4.43216,2.000000,21.0,23.2,0
3,9.2,28.0,0.0,5.52876,7.568706,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,4.43216,4.487216,18.1,26.5,0
4,17.5,32.3,1.0,5.52876,7.568706,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.00000,8.000000,17.8,29.7,0

In [10]:
# after filling missing values with mean 
weather.isna().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainTomorrow     0
dtype: int64

#### (d) ormalize all the feature values by scaling them between 0 and 1. The values in feature matrix ‘X’ can be normalized as:

In [11]:
# taking out the RainTomorrow
rain_tom = weather["RainTomorrow"]
weather = weather.drop(columns="RainTomorrow")

In [12]:
# calculating the mean of each column
means = weather.mean()
means

MinTemp            12.441988
MaxTemp            23.373984
Rainfall            2.640892
Evaporation         5.528760
Sunshine            7.568706
WindGustSpeed      38.837731
WindSpeed9am       12.693206
WindSpeed3pm       17.858546
Humidity9am        70.242023
Humidity3pm        51.984191
Pressure9am      1018.348754
Pressure3pm      1015.783328
Cloud9am            4.432160
Cloud3pm            4.487216
Temp9am            17.068981
Temp3pm            21.901847
dtype: float64

In [13]:
maxs = weather.max()
mins = weather.min()

In [14]:
# Mean Normalizing

# Subtracting the mean from each column
weather = weather - means

# Dividing each column by its max - min value
weather = weather / (maxs - mins)

In [15]:
# adding RainTomorrow column
weather["RainTomorrow"] = rain_tom
weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,0.025277,-0.010604,-0.005501,6.125368e-18,-6.299138e-17,0.040330,0.056206,0.073993,0.007814,-0.302871,-0.177184,-0.147425,0.396427,0.000000,-0.004142,-0.002294,0
1,-0.133034,0.038613,-0.007118,6.125368e-18,-6.299138e-17,0.040330,-0.066871,0.049897,-0.270536,-0.272568,-0.128931,-0.135540,0.000000,0.000000,0.003211,0.054012,0
2,0.012085,0.052036,-0.007118,6.125368e-18,-6.299138e-17,0.055955,0.048514,0.098090,-0.332392,-0.222063,-0.178848,-0.120260,0.000000,-0.310902,0.096348,0.029238,0
3,-0.085541,0.103490,-0.007118,6.125368e-18,-6.299138e-17,-0.115920,-0.013025,-0.106729,-0.260227,-0.363477,-0.012458,-0.050651,0.000000,0.000000,0.025270,0.103562,0
4,0.133457,0.199687,-0.004423,6.125368e-18,-6.299138e-17,0.016893,-0.043794,0.025801,0.121216,-0.191760,-0.125603,-0.166101,0.285316,0.439098,0.017917,0.175634,0